*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.content{
    margin: 0 auto;
    width: 1200px;
}
.head{
    /* border: solid pink; */
    margin: 0px auto 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 1200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background: white;
    z-index: 4;
}
ul li{
    list-style: none;
}
.nav-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    /* border: solid black 1px; */
    margin: 10px 40px ;
    vertical-align: bottom;
    /* float: left; */
    line-height: 20px;
    max-height:60px;
}
.nav-item span{
    vertical-align: middle;
}
.nav-item i{
    display: inline-block;
    /* margin-top: 2px; */
    width: 22px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../image/icon.png);
}
i.index{
    
    background-position: 0px 0px;
}
i.shop{   
    background-position: 0px -20px;
}
i.paradise{
    background-position: 2px -44px;
}
i.movie{
    background-position: 2px -60px;
}
i.digit{
    background-position: 2px -82px;
}
i.english{
    background-position: 2px -82px;
}
.slide{
    width: 1200px;
    height: 505px;
    margin-top: 140px;
    /* border: solid 1px orange; */
    overflow: hidden;
    position: relative;
}
.slide-dot{
    position: absolute;
    /* width: 200px; */
    height: 20px;
    bottom: 30px;
    right: 40px;
    z-index: 3;
}
.slide-dot a{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
    background: white;
    border: solid 1px  white;
    border-radius: 50%;
}
.slide-wrap{
    width: 3600px;
    position: relative;
}
.slide-item{
    float: left;
}
.star-line{
    margin-top: 60px;
}
.rtitle{
    text-align: center;
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 40px;
}
.star-title{
    text-align: center;
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 40px;
}
.star{
    float: left;
    width: 168px;
    /* display: inline-block; */
    text-align: center;
    margin: 0 16px;
    position: relative;
}
.star a{
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    color: black;
}
.star img{
    width: 114px;
}
.star b{
    display: block;
    margin-top: 18px;
}
.shop-block{
    margin: 60px;
}
.shop-left{
    float: left;
    margin-left: -60px;
}
.shop-right{
    float: left;
    margin-left: -1px;
    width: 298px;
    height: 295px;
    overflow: hidden;
}